{% extends "base.html" %}
{% block content %}
<style>
    .navigation ul li.dept {
        transform: translateX(30px);
        background: var(--bg);
    }
    
    .navigation ul li.dept::before{
        content: '';
        position: absolute;
        top: -28px;
        right: -8px;
        width: 20px;
        height: 20px;
        background: transparent;
        border-bottom-right-radius: 20px;
        box-shadow: 6px 5px 0 5px var(--bg);
        transform: scale(1);
        transform-origin: bottom right;
        transition: 0.5s;
    }
    
    .navigation ul li.dept::after{
        content: '';
        position: absolute;
        bottom: -23px;
        right: -8px;
        width: 20px;
        height: 20px;
        background: transparent;
        border-top-right-radius: 20px;
        box-shadow: 6px -3px 0 3px var(--bg);
        transform: scale(1);
        transform-origin: bottom right;
        transition: 0.5s;
    }
    
    .navigation ul li.dept a .icon img{
        color: #fff;
        background: var(--cir);
    }
    
    .navigation ul li.dept a .icon img::before{
        opacity: 0.5;
    }
    
    .navigation ul li.dept a .text{
        color: #fff;
    }
</style>
<form action="#" method="post" enctype='multipart/form-data'>
    {% csrf_token %}
    <div class="row-1">
        <div class="col-1">
            <div class="inputbox">
                <label for="deptname" >Department Name</label>
                <input type="text" name="deptname" id="deptname">
            </div>
        </div>
        <div class="inputbox">
            <select name="orgname" id="orgname" class="form-select" required>
                <option value=""></option>
                {% for org in orgs %}
                <option value="{{org.id}}">{{org.name}}</option>
                {% endfor %}
              </select>
            <label for="" class="text">Organization</label>
        </div>
        <div class="sub_btn">
            <button type="submit">Save</button>
            <a href="/HRadministrator/department"><button type="button">cancel</button></a>
        </div>
    </div>

</form>

{% endblock content %}