<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Login Page</title>
      <link rel="stylesheet" href="{% static 'css/login.css' %}">
      <script src="{% static 'js/index.js' %}"></script>
    </head>
    <body>
      <form action="#" method="POST">
        {% csrf_token %}
      <div class="box register">
        <div class="form">
          <h2>Candidate Register Form</h2>
          <div class="inputbox">
            <input type="text" name="username" id="username" value="{{candid}}" readonly>
            <span>Candidate ID</span>
            <i></i>
          </div>
          <div class="inputbox">
            <input type="text" name="fname" id="fname" required>
            <span>First Name</span>
            <i></i>
          </div>
          <div class="inputbox">
            <input type="text" name="lname" id="lname" required>
            <span>Last Name</span>
            <i></i>
          </div>
          <div class="inputbox">
            <input type="email" name="email" id="email" required>
            <span>Email</span>
            <i></i>
          </div>
          <div class="inputbox">
            <input type="password" name="password" id="password" required>
            <span>Password</span>
            <i></i>
          </div>
          <div class="inputbox">
            <input type="password" name="cnfpswd" id="cnfpswd" required>
            <span>Confirm Password</span>
            <i></i>
          </div>
          <br>
          <input type="submit" value="Sign up">
          <br>
          <div class="links">
           <p style="color: aliceblue;">Already a User?<a href="/cand-login">Login</a></p>
          </div>
        </div>
      </div>
      <div class="home">
        <p style="color: aliceblue;">Not a candidate?<a href="/">Admin Login</a></p>
      </div>
    </form>
  </body>
</html>