<!doctype html>
{% extends "base.html" %}
{% block content %}
<!-- Content Section -->
<div class="data-container">
    <a href="/HRadministrator/Create-organization" class="add">
        <img src="/media/icons/create.png" alt="">
    </a>
    <table id="view_page">
        <tr class="table-dark">
            <th>Org ID</th>
            <th>Organization</th>
			<th>Action</th>
        </tr>
        {% for org in orgs %}
        <tr>
            <td>{{ org.id }}</td>
            <td>{{ org.name }}</td>
			<td><a href="deleteOrg?orgid={{ org.id }}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>

    {% if messages %}
    {% for message in messages %}
    <div class="msg-popup" id="popup">
        <div class="msg">
            <img src="/media/icons/{{ message.tags }}.png" alt="Message">
            <h2>{{ message.tags|title }}</h2>
            <p>{{ message }}</p>
            <button type="button" onclick="closePopup()">Close</button>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>

<script>
    function closePopup() {
        document.getElementById('popup').classList.add('close');
    }
</script>
{% endblock content %}
