{% extends "home.html" %}
{% block content %}


<div class="profile">
    <div class="container">
        <div class="card">
                <div class="box">
                    <div class="content">
					{%for row in data%}
                        <h3>My Profile</h3>
                        <p>ID: {{user.username}}</p> 
                        <p>Name: {{row.first_name}}.{{row.last_name}}</p> 
                        <p>Email: {{user.email}}</p>
					{%endfor%}
                    </div>
                </div>
        </div>
    </div>
</div>

{% endblock content %}


